<h1>{{i18n 'cribl_leaderboard.title'}}</h1>
<nav>
  <ul class='nav nav-pills'>
    <li>
      {{#link-to
        'cribl.leaderboard'
        (query-params page=0 period='quarter')
      }}{{i18n 'cribl_leaderboard.nav.quarter'}}{{/link-to}}
    </li>
    <li>
      {{#link-to
        'cribl.leaderboard'
        (query-params page=0 period='all_time')
      }}{{i18n 'cribl_leaderboard.nav.all_time'}}{{/link-to}}
    </li>
  </ul>
</nav>

{{outlet}}
